/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero_bg{
  background-image:url(./img/im1.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  max-width:100%;
  min-height: 100vh;
} */
 .cuntbarder:focus{
  border:2px solid rgb(27, 27, 27);
 }